@media screen and (min-width:1441px) and (max-width: 1680px)
{
  
  
  #project .container_category a
    {
      margin-right: 6.6%;
      color: green;
    }

      
	
    #header .nav a
    {
      background-color: green !important;
    }
    
}


#header {
  background-color: #f00 !important;
}