// reset
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form {
    margin: 0;
    font-family: Arial, "微软雅黑";
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

img {
    border: none;
    vertical-align: top;
    width: 100%;
}

input,
textarea {
    margin: 0;
    padding: 0;
    outline: none;
}

select {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0;
}

input,
textarea {
    font-family: Arial, "微软雅黑";
    outline: 0;
    font-size: 14px;
    -webkit-appearance: none;
    border: none;
    background: 0 0;
}

button {
    outline: none;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
}

.clearfix {
    zoom: 1;
}

.fw {
    margin: 0 auto;
    width: 1180px;
}

.hide {
    display: none;
}

.obHide {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 99;
}

.show {
    display: block;
}

.fa {
    color: inherit;
    line-height: inherit;
}

body {
    overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

.iconzuoqiehuan,
.iconyouqiehuan1 {
    transition: all 0.3s ease-out 0s;
    &:hover {
        color: #59e276;
    }
}

// font-family
@font-face {
    font-family: "AVGARDN";
    src: url(../assets/fonts/avgardn.ttf) format("truetype");
}


// sass
$colorVi: #f2be45;
$colorTitle: #392f41;
$colorSubTitle: #392f41;
$colorNav: rgba(57, 47, 65, 0.45);
$colorCategory: #a6a6a6;

$transition1: all 0.3s ease-out 0s;
$transition2: width 0.6s ease-out 0s,height 0.6s ease-out;
$transition3: all 1s ease-out 0s;

@mixin rowEllipsis($row, $lineHeight) {
    overflow: hidden;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    height: $row*$lineHeight;
}

@mixin query( $max,$min: 1280px ) {
    @media only screen and ( min-width: $min) and ( max-width: $max) {
        @content;
    }
}

@mixin picCult ($paddingTop) {
    .item_img {
        position: relative;
        overflow: hidden;
        padding-top: $paddingTop;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}


// 头部
#header {
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: $transition1;
    &.mini {
        background: #fff;
        box-shadow: 0 2px 5px rgba(57,47,63,.06);
        .content {
            padding: 15px 0;
        }
        #nav .navitem .subnav {
            background-color: #fff;
        }
    }
    .content {
        max-width: 1800px;
        min-width: 1200px;
        padding: 30px 0;
        width: 75vw;
        height: 66px;
        margin: 0 auto;
        transition: $transition1;
    }
    #logo {
        width: 156px;
        display: block;
        float: left;
    }
    #nav {
        float: right;
        .navitem {
            float: left;
            position: relative;
            a {
                font-size: 18px;
                color: $colorNav;
                padding: 0 34px;
                line-height: 64px;
                height: 64px;
                display: block;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    bottom: 20%;
                    width: 0;
                    height: 1px;
                    background: $colorVi;
                    transition: $transition1;
                    transform: translateX(-50%);
                }
            }
            &:first-child a::after {
                transform: none;
                left: 30%;
            }
            .icon-jiantou-copy1 {
                font-size: 16px;
                margin-left: 10px;
            }
            & > a.active {
                color: $colorVi;
                &::after {
                    width: 20%;
                }
            }
            &:hover > a {
                color: $colorVi;
            }
            &:hover {
                .subnav {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .subnav {
                padding: 14px 0;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                text-align: center;
                background: rgba(255,255,255,0.5);
                opacity: 0;
                visibility: hidden;
                transition: $transition1;
                a {
                    font-size: 14px;
                    line-height: 34px;
                    height: 34px;
                    padding: 0 12px;
                    transition: $transition1;
                    &:hover,
                    &.active {
                        color: $colorVi;
                    }
                }
            }
        }
    }
    #header_tel {
        font-size: 20px;
        line-height: 64px;
        color: $colorTitle;
        float: right;
        margin-left: 34px;
        font-family: 'AVGARDN';
        .icon-dianhua {
            font-size: 20px;
            line-height: 64px;
            color: $colorTitle;
            margin-right: 4px;
        }
    }
}

// 内容
#sitecontent {
}
.mlist .module_container {
    width: 75vw;
    min-width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.container_header {
    text-align: left;
    display: inline-block;
    position: relative;
    &::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #d7d5d9;
        position: absolute;
        top: 0;
        left: -14px;

    }
    .title {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 10px;
        color: $colorTitle;
    }
    .subtitle {
        font-size: 44px;
        line-height: 33px;
        color: $colorSubTitle;
    }
}

.container_category {
    font-size: 0;
    padding: 5vw 0 4vw;
    width: 75vw;
    margin: 0 auto;
    a {
        font-size: 20px;
        line-height: 28px;
        color: $colorCategory;
        display: inline-block;
        transition: $transition1;
        &:hover,
        &.active {
            color: $colorVi;
        }
    }
    a:not(:last-child) {
        margin-right: 7.6%;
        @include query(1680px) {
            margin-right: 6.6%;
        };
        @include query(1430px) {
            margin-right: 4.3%;
        };
    }
}

.more {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    span {
        display: inline-block;
        background-color: $colorVi;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .h {
        width: 24px;
        height: 2px;
    }
    .v {
        width: 2px;
        height: 24px;
    }
}

#mslider {
    .item_block {
        cursor: grab;
    }
    .content_list.slick-slider {
        margin-bottom: 0;
        .slick-arrow {
            background-color: #fff;
            color: $colorVi;
            opacity: 0.35;
            transition: $transition1;
            width: 42px;
            height: 42px;
            text-align: center;
            .iconfont {
                line-height: 42px;
            }
            &.slick-prev {
                left: 6.25vw;
            }
            &.slick-next {
                right: 6.25vw;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

#block {
    .module_container {
        transform: translateY(-100%);
        height: 55px;
    }
    .content_list.slick-dots {
        height: 110px;
        font-size: 0;
        position: static;
        li {
            width: calc(100%/3);
            height: 110px;
            margin: 0;
            position: relative;
            overflow: hidden;
            background-color: #f7f7f7;
            &::after {
                content: '';
                width: 55px;
                height: 110px;
                border-radius: 0 200px 200px 0;
                background-color: $colorVi;
                position: absolute;
                top: 0;
                left: -55px;
                transition: $transition2;
            }
            button {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 110px;
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;
                transition: $transition1;
                position: relative;
                z-index: 1;
                .title {
                    font-size: 24px;
                    line-height: 34px;
                    color: $colorTitle;
                    display: block;
                    transition: 0.3s ease-out 0.1s;
                }
                .subtitle {
                    font-size: 12px;
                    line-height: 12px;
                    color: $colorSubTitle;
                    opacity: 0.25;
                    transition: 0.3s ease-out 0.1s;
                }
                .iconfont {
                    font-size: 120px;
                    color: transparent;
                    position: absolute;
                    top: 87%;
                    right: -6%;
                    transition: 0.3s ease-out 0.1s;
                }
            }
            &.active {
                &::after {
                    width: 800px;
                }
                button {
                    transform: none;
                    .title,.subtitle {
                        color: #fff;
                    }
                    .iconfont {
                        color: rgba(255,255,255,0.2);
                    }
                }
            }
        }
    }
}

#info {
    .module_container {
        padding: 5.8vw 0 9.8vw;
        text-align: left;
    }
    .title {
        font-size: 44px;
        line-height: 114px;
        color: $colorVi;
        @include query(1366px) {
            font-size: 34px;
            line-height: 98px;
        };
    }
    .des {
        font-size: 26px;
        line-height: 44px;
        color: #737373;
        @include rowEllipsis(2, 44px);
        @include query(1366px) {
            font-size: 22px;
            line-height: 38px;
        };
    }
}

#project {
    .module_container {
        width: auto;
    }
    .item_block {
        width: calc(100%/3);
        float: left;
        position: relative;
        overflow: hidden;
        @include picCult(82%);
        &:hover {
            .item_wrapper {
                opacity: 1;
                .more {
                    top: 30%;
                    opacity: 1;
                }
            }
        }
        .item_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $colorVi;
            transition: $transition3;
            opacity: 0;
            .more {
                top: -10%;
                opacity: 0;
                transition: 0.6s ease-out 0s;
            }
        }
        .item_info {
            width: 73%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        .title {
            font-size: 32px;
            line-height: 72px;
            color: #fff;
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }
        .subtitle {
            color: #fff;
            font-size: 18px;
            line-height: 48px;
            color: rgba(255,255,255,0.65);
        }
    }
}

#service {
    .module_container {
        padding-bottom: 4.7vw;
    }
    .container_header {
        margin: 10.4vw 0 5.2vw;
    }
    .item_block {
        width: calc(100%/3 - 100px);
        margin: 0 50px;
        float: left;
        &:hover {
            .item_img {
                border-color: transparent;
                .iconfont {
                    color: #fff;
                }
                &::after {
                    width: calc(100% + 1px);
                    height: calc(100% + 1px);
                }
            }
            .item_link {
                a {
                    color: #404040;
                }
            }
        }
        .item_img {
            width: 116px;
            height: 116px;
            border: 1px solid #bab6bd;
            border-radius: 100%;
            margin: 0 auto;
            position: relative;
            transition: $transition1;
            .iconfont {
                font-size: 58px;
                line-height: 116px;
                color: #bab6bd;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                z-index: 1;
                transition: $transition1;
            }
            .icon-icon-test1,
            .icon-icon-test2 {
                top: 3px;
            }
            &::after {
                content: '';
                width: 0;
                height: 0;
                background-color: $colorVi;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: $transition1;
            }
        }
        .title {
            font-size: 26px;
            line-height: 46px;
            color: $colorTitle;
            margin: 10px 0;
            position: relative;
            &::after {
                content: '';
                width: 26px;
                height: 1px;
                background-color: #bab6bd;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                @include query(1680px,1441px ) {
                    width: 20px;
                };
            }
        }
        .item_link {
            a {
                display: block;
                font-size: 18px;
                line-height: 36px;
                color: #a6a6a6;
                transition: $transition1;
            }
        }
    }
}

#news {
    .module_container {
        width: auto;
    }
    .container_header {
        margin: 5.2vw 0;
    }
    .container_content {
        padding: 0 30px;
        margin-right: -30px;
    }
    .item_block {
        width: calc(100%/3 - 30px);
        margin-right: 30px;
        float: left;
        position: relative;
        overflow: hidden;
        &:hover {
            &::before {
                width: 200%;
            }
            .item_wrapper {
                opacity: 1;
                .more {
                    opacity: 1;
                    bottom: 15%;
                }
            }
        }
        &::before {
            content: '';
            width: 50%;
            height: 100%;
            border-radius: 0 1000px 1000px 0;
            position: absolute;
            left: -50%;
            top: 0;
            background-color: $colorVi;
            transition: $transition2;
            z-index: 1;
        }
        @include picCult(56%);
        .item_wrapper {
            width: 100%;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 12%;
            transition: $transition1;
            opacity: 0;
            z-index: 2;
            @include query(1680px, 1441px) {
                padding: 10%;
            };
        }
        .item_info {
            padding-bottom: 18px;
            margin-bottom: 13px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            text-align: left;
        }
        .title {
            font-size: 26px;
            line-height: 42px;
            color: #fff;
        }
        .date {
            font-size: 14px;
            line-height: 14px;
            color: rgba(255,255,255,0.55);
        }
        .item_des {
            text-align: left;
            font-size: 14px;
            line-height: 28px;
            color: hsla(0,0%,100%,.55);
            @include rowEllipsis(2, 28px);
        }
        .more {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 12%;
            bottom: -10%;
            opacity: 0;
            transition: $transition1;
            top: auto;
            left: auto;
            transform: none;
            .h {
                width: 11px;
            }
            .v {
                height: 11px;
            }
        }
    }
    .content_more {
        display: inline-block;
        margin: 3.8vw 0;
        transition: $transition1;
        .iconfont,span {
            font-size: 20px;
            line-height: 30px;
            color: $colorTitle;
            transition: $transition1;
        }
        span {
            opacity: 0.35;
        }
        .iconfont {
            opacity: 0;
            margin-left: -40px;
            transition: $transition1;
        }
        &:hover {
            span {
                opacity: 1;
                padding-right: 10px;
                @include query(1680px, 1441px) {
                    padding-right: 0px;
                }
            }
            .iconfont {
                opacity: 1;
                margin-left: 0;
            }
        }
    }
}

#honour {
    .module_container {
        width: 82.3vw;
        padding-bottom: 9vw;
    }
    .container_header {
        margin: 6.25vw 0 5.2vw;
    }
    .content_wrapper {
        margin-right: -28px;
    }
    .item_block {
        width: calc(100%/6 - 28px);
        margin-right: 28px;
        float: left;
        margin-bottom: 4.9%;
        @include picCult(20%);
    }
}

#contact {
    background-color: $colorTitle;
    .module_container {
        padding: 9.4vw 0;
    }
    .contact_left {
        float: left;
        width: 15.2%;
        margin-right: 19%;
        .contactUs {
            display: flex;
            justify-content: space-between;
            margin: 28% 0 5%;
        }
        .iconfont {
            font-size: 20px;
            color: rgba(255,255,255,0.45);
            transition: $transition1;
            &:hover {
                color: #fff;
            }
        }
        .slogan {
            font-size: 14px;
            line-height: 32px;
            color: rgba(255,255,255,0.45);
            text-align: left;
        }
    }
    .contact_right {
        float: left;
        width: 65.7%;
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 24px;
            line-height: 45px;
            color: #fff;
            margin-bottom: 22px;
        }
        .item_block {
            float: left;
            text-align: left;
        }
        .link a,
        .link p {
            font-size: 14px;
            line-height: 32px;
            color: rgba(255,255,255,0.45);
            transition: $transition1;
        }
        .link a[href*="/"]:hover,
        .title a[href*="/"]:hover {
            color: $colorVi;
        }
    }
}

#footer {
    text-align: center;
    height: 55px;
    line-height: 55px;
    color: #a6a6a6;
    border-top: 1px solid rgba(255,255,255,0.1);
    background-color: $colorTitle;
    font-size: 14px;
    #flogo {
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 40px;
        img {
            width: 14px;
            height: 14px;
        }
    }
    .copyright {
        margin-right: 45px;
    }
}

#shares {
    position: fixed;
    border: 1px solid #d9d9d9;
    right: 0px;
    top: calc(50% - 88px);
    z-index: 9999;
    width: 58px;
    background-color: #fff;
    transition: $transition1;
    .share {
        display: block;
        height: 58px;
        line-height: 58px;
        text-align: center;
        position: relative;
        &:not(:first-child)::before {
            content: '';
            width: 14px;
            height: 1px;
            background-color: #d9d9d9;
            position: absolute;
            top: -1; 
            left: 22px;
        }
        .iconfont {
            font-size: 24px;
            color: #8c8c8c;
            line-height: 58px;
            transition: $transition1;
        }
        &:hover {
            background-color: $colorVi;
            .iconfont {
                color: #fff;
            }
        }
    }
    .mobile {
        margin: 1px 0;
    }
    .goTop {
        display: none;
        &.show {
            display: block;
        }
    }
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    &.show {
        display: block;
    }
    .fixed-container {
        width: 220px;
        height: auto;
        padding: 20px 20px 0 20px;
        background: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: none;
        &.show {
            display: block;
        }
        p {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #000;
        }
    }
}



// animate.css dlc
@-webkit-keyframes zoomBig {
    from {
      opacity: 0;
      transform: scale(1.05);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes zoomBig {
    from {
      opacity: 0;
      transform: scale(1.05);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .zoomBig {
    -webkit-animation-name: zoomBig;
    animation-name: zoomBig;
  }


  #header.mini {    box-shadow: 0 2px 5px rgba(57,47,63,.06);    }

#service .module_container{  margin-bottom: 7vh;  }

#news .item_block .item_des { color: hsla(0,0%,100%,.55);}

#footer {
    color: rgba(255,255,255,.20);
}




@media screen and (min-width:1441px) and (max-width: 1680px)
{
	#project .container_category a
	
	{
	margin-right: 5.8%;
	}

    
    #news .item_block .more{   bottom: 10%;   }

    #news .item_block .item_wrapper{    padding: 9.6%;}

    #news .content_more span{   font-size: 18px;   }	

    #news .content_more:hover span{   padding-right: 0px;  }
    

}





@media screen and (max-width: 1440px)
{   
    .mlist .module_container{min-width: 1000px;}

    #info .title{
        font-size: 34px;
        line-height: 90px;
    }
    

    #info .des
    {
        font-size: 20px;
        line-height: 36px;
    }


    #project .container_category a
	{
	    margin-right: 4.7%;
    }
    

    #project .more 
    {
        top: 24%;
    }

    #project .item_block .item_info
    {
        top: 45%;
    }


    #news .item_block .more{   bottom: 9%;   }

    #news .item_block .item_wrapper{    padding: 7.6%;}


    #news .item_block .title
    {
        font-size: 24px;
        line-height: 38px;
    }

    #news .content_more span{   font-size: 16px;   }	

    #news .content_more:hover span{   padding-right: 0px;  }

    #info .module_container{
        padding: 4.8vw 0 7.8vw;
    }

    .container_category {
        padding: 4vw 0 3vw;
    }

    #service .container_header{
        margin: 8vw 0 5vw;
    }


    #news .container_header{
        margin: 4vw 0;
    }


    #honour .container_header{
        margin: 4vw 0 5vw;
    }

    #honour .module_container{
        width: 82.3vw;
        padding-bottom: 6vw;
    }

    #contact .module_container{
        padding: 7vw 0;
    }





    #contact .contact_right .title{
        font-size: 22px;
    }


    #header .content {
        min-width: 1000px;
    }

}




@media screen and (max-width: 1366px)
{   
    #info .title{
        font-size: 30px;
        line-height: 70px;
    }
    
    #info .des
    {
        font-size: 18px;
        line-height: 32px;
    }

    #project .container_category a	
	{
	    margin-right: 4.2%;
	}
      
    #contact .contact_right .title{
        font-size: 20px;
    }


    #project .more 
    {
        width: 64px;
        height: 64px;
    }
    

    #project .item_block .title {
        font-size: 30px;
    }


    #news .item_block .more{   bottom: 7%;    width:36px;
        height:36px;}

    #news .item_block .item_wrapper{    padding: 7.2%;}


}

@media screen and (max-width: 1280px)
{   
    #project .container_category a	
	{
	    margin-right: 3.7%;
	}

    #project .more 
    {
        width: 60px;
        height: 60px;
    }    

    #project .item_block .title {
        font-size: 28px;
    }


    #news .item_block .more{   bottom: 7%;    width:32px;
        height:32px;}

    #news .item_block .item_wrapper{    padding: 7%;}


    #news .item_block .title {
        font-size: 22px;
        line-height: 34px;
    }


    #news .item_block .item_info {
        padding-bottom: 12px;
        margin-bottom: 10px;
    }

}


