$color: #f00;

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: $color;
    font-size: 16px;

    .container {
        text-align: center;

        p {
            margin: 0px;
        }

        .img {
            height: 405px;
            width: 270px;
            margin-bottom: 20px;
            background: url(../img/img.jpg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}